<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @search.title %>
</p>

<p>
  <strong>Year:</strong>
  <%= @search.year %>
</p>

<%= link_to 'Edit', edit_search_path(@search) %> |
<%= link_to 'Back', searches_path %>
